.column_class {
    display: flex;
    flex-direction: column;
}

.row_class {
    display: flex;
    flex-direction: row; 
}

.page {
    width: 66vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 150px;
    /* background-color: hotpink; */
}

.navbar-custom {
    color: #3293ED;
    background-color: #FFF853;
    font-weight: 500;
    font-size: 24px;
}

div {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

body pre {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.gohome {
    height:90px;
    width:90px;
    border-radius: 100%;
    background-color: white;
    border-style: solid;
    border-width: 2.5px;
    border-color: #FFF853;
    position: fixed;
    right: 60px;
    bottom:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transition: 0.1s;
}

.gohome:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: #FFF853;
}

.gohome:hover img{
    margin-top: -5;
}

.button {
    height: 60px;
    padding: 0 15px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #3293ED;
    display: inline-block;
    line-height: 55px;
    font-weight: 700;   
    color: #3293ED;
    font-size: 36px;
    box-shadow: 0px 5px 15px rgba(50, 147, 237, 0.5);
    transition: 0.1s;
}

.button:hover {
    text-decoration: none;
    background-color: #3293ED;
    color: white;
    box-shadow: 0px 0px 3px rgba(50, 147, 237, 0.8);
}

.blue_header {
    background: url(header.jpg);
    background-size: cover;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 540px;
    left: 0px;
    top: 0px;
    box-shadow: 27px 4px 40px rgba(31, 79, 124, 0.5);
}

.blue_footer {
    background: url(header.jpg);
    background-size: cover;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 540px;
    bottom: 0px;
    box-shadow: 27px 4px 40px rgba(31, 79, 124, 0.5);
}

.whatido_background {
    background: url(whatido_background.png);
    background-color: #E5e5e5;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 690px;
    left: 0px;
    top: 1380px;
}

.programs_background {
    background: url(programs_background.png);
    background-color: #E5e5e5;
    background-attachment: fixed;
    z-index: -1;
    width: 100vw;
    height: 480px;
    left: 0px;
    margin-top: 1430px;
}

.languages_background {
    background: url(languages_background.jpg);
    background-color: #E5e5e5;
    background-attachment: fixed;
    z-index: -1;
    width: 100vw;
    height: 480px;
}



.profile_pic {
    width: 100%;
    height: 900px;
    background-color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.profile_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line {
    width: 60px;
    height: 3px;
    background-color: black;
    display: inline-block;
    margin-bottom: 30px;
}

.name {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 120px;
    font-size: 60px;
    font-weight: 700;
    /* background-color: blue; */
}

.info {
    width: 100%;
    height: 300px;
    /* margin-bottom: 60px; */
    font-size: 24px;
    font-weight:400;
    text-align: left;
    /* background: purple; */
}

.info_icon {
    margin-right: 15px;
    margin-left:0px;
    /* background: #FFF853; */
}

.info_points {
    font-weight: 700; 
    color: #3293ED; 
    margin-bottom: 0px; 
    /* background: #FFF853; */
}

.head_left {
    width: 100%;
    height: auto;
    padding-right: 30px;
    flex-direction: column; 
    width: 50%; 
    /* background-color: red; */
}

.head_right {
    width: 100%;
    height: auto;
    padding-left: 30px;
    flex-direction: column; 
    width: 50%;
    /* background-color: blue; */
}

.title_middle {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    color: #3293ED;
    margin-top: 240px;
    margin-bottom: 15px;
    /* background-color: red; */
}

.subtitle {
    
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #303030;
    margin-top: 30px;
}

.card_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    /* background-color: blueviolet; */
}

.card_class {
    width:100%;
    height: auto;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: black;
    transition: 0.1s;
    cursor: pointer;
}

.card_class:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #303030;
    /* width: 105%; */
}

.card_background_whatido {
    width:100%;
    height: 210px;
    background: #3293ED;
    display: flex;
    align-content: center;
}

.card_background_programs {
    width:100%;
    height: 180px;
    background: #FFF853;
    display: flex;
    align-content: center;
}

.card_title {
    text-align: center;
    font
}

.card_font {
    margin: 30px 30px;
    text-align: center;
    font-size: 18px;
    /* background-color: blue; */
}

.card_education {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    transition: 0.1s;
}

.card_education:hover{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.card_education:hover a{
    text-decoration: none;
}

.education_info {
    margin-top: 30px;
    padding-left: 30px;
    flex: 3;
    align-content: center;
    color: black;
}

.education_info p {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}

.education_pic {
    height: 150px;
    overflow: hidden;
    flex:2;
}

.education_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_work {
    width: 100%;
    height: 330px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: black;
    padding: 15px;
    overflow: hidden;
    background-color: white;
    line-height: 40px;
    transition: 0.1s;
    cursor: pointer;
}

.card_work:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #303030;
}

.card_work p {
    font-size: 24px;
    margin-bottom: -5px;
    font-weight: 300;
}

.card_work img {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ARTWORKS */

.artwork {
    height: 240px;
    width: 100%;
    background-color: #3293ED;
}

.artwork_frame {
    height: 300px;
    width: 100%;
    overflow: hidden;
    background-color: #FFF853;
    transition: 0.1s;
    cursor: pointer;
}

.artwork_frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artwork_frame:hover {
    height: 360px;
    width: 150%;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    transition: 0.2s;
}

#overlay_content {
    margin: auto;
    width: 1080px;
    height: 720px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

#overlay_info {
    padding: 60px;
    background-color: white;
    flex-direction: column;
    flex: 1;
}

#overlay_title {
    font-size: 36px;
    font-weight: 500;
    color: #3293ED;
}

#overlay_text {
    text-align: justify;
    font-size: 18px;
    color: black;
}

#overlay_pic_frame {
    background-color: #3293ED;
    height: 100%;
    flex:1;
    overflow: hidden;
    text-align: center;
}

#overlay_pic {
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}